{% extends "base.html" %}

{% block titulo %} Lista de Nomina {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h4 class="card-title">Nomina</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" style="display: flex; align-items: center;">
            <a name="" id="" class="fas fa-plus-circle" title="Crear" href="{% url 'nomina_crear' %}" role="button" style="color: rgb(7, 7, 7); margin-right: 10px;"></a> 
            <a id="edit-button" class="fas fa-edit" title="Editar" href="#" role="button" style="color: rgb(7, 7, 7); margin-right: 10px;" onclick="handleEditClick();"></a> 
            <i name="" id="" class="fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i> 
            <button type="submit" form="delete-form" class="fas fa-trash-alt" title="Eliminar" style="background:none; border:none; color:rgb(7, 7, 7); cursor:pointer; margin-right: 10px;" onclick="return confirmDelete();"></button> 
            <form id="download-form" method="POST" action="{% url 'nomina_descargar_excel' %}" style="display:inline;">
                {% csrf_token %}
                {% for nomina in nomina_data %} 
                    <input type="hidden" name="items_to_delete" value="{{ nomina.anio }}|{{ nomina.mes }}|{{ nomina.documento }}">
                {% endfor %}
                <button type="submit" class="fas fa-download" title="Descargar" style="background:none; border:none; color:rgb(7, 7, 7); cursor:pointer;"></button>
            </form>
        </div>
    </div>
    <div class="card-footer text-muted">
        <style> .table-responsive {
                max-height: 200px; 
                max-width: 100%;   
                overflow-y: scroll;    
                overflow-x: scroll;  
                display: block;
            }
            .table {
                width: 100%;
                table-layout: auto;  
            }   
        </style>
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'nomina_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">Año</th>
                            <th scope="col">Mes</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Salario</th>
                            <th scope="col">Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nomina in nomina_data %}
                        <tr class="">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ nomina.anio }}|{{ nomina.mes }}|{{ nomina.documento }}"></td>
                            <td>{{ nomina.Anio }}</td>
                            <td>{{ nomina.Mes }}</td>
                            <td>{{ nomina.Documento }}</td>
                            <td>{{ nomina.Salario }}</td>
                            <td>{{ nomina.ClienteId }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    // Seleccionar todos los checkboxes
    document.getElementById('select-all').addEventListener('click', function(event) {
        let checkboxes = document.querySelectorAll('.row-select');
        for (let checkbox of checkboxes) {
            checkbox.checked = event.target.checked;
        }
    });

    // Confirmación antes de eliminar
    function confirmDelete() {
        let selected = document.querySelectorAll('.row-select:checked').length;
        if (selected === 0) {
            alert('No has seleccionado ningún elemento para eliminar.');
            return false;
        }
        return confirm('¿Estás seguro de que deseas eliminar los elementos seleccionados?');
    }

    // Manejar el clic en el botón de editar
    function handleEditClick() {
        let selected = document.querySelectorAll('.row-select:checked');
        if (selected.length === 0) {
            alert('No has seleccionado ningún Nomina para editar.');
            return false;
        }
        if (selected.length > 1) {
            alert('Solo puedes editar un Nomina a la vez.');
            return false;
        }

        let selectedValues = selected[0].value.split('|');
        let editUrl = "{% url 'nomina_editar' 0 0 0 %}".replace('0', selectedValues[0]).replace('0', selectedValues[1]).replace('0', selectedValues[2]);
        window.location.href = editUrl;
    }
</script>

{% endblock %}