{% extends "base.html" %}

{% block titulo %} Confirmar Eliminación {% endblock %}

{% block contenido %}
    <h2>¿Estás seguro de que deseas eliminar el registro de Detalle_Costos_Indirectos del año "{{ detalle_costos_indirectos.anio }}" y mes "{{ detalle_costos_indirectos.mes }}" con CostosId "{{ detalle_costos_indirectos.costos_id }}"?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'detalle_costos_indirectos_index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}