{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block titulo %}{% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- CSRF Token -->
        <meta name="csrf-token" content="{{ csrf_token }}">

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- Enlace al archivo styles.css -->
        <link rel="stylesheet" href="{% static 'styles.css' %}">  

        <!-- Incluye FontAwesome para los iconos -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <div class="d-flex">
            <!-- Menú lateral -->
            <nav id="sidebar">
                <div class="content">
                    <div class="sidebar-header">
                        <img src="{% static 'resource/logo.png' %}" alt="Logo" class="img-fluid">
                    </div>
                    <!-- INICIO-->
                    <ul class="list-unstyled components">
                        <li>
                            <a class="nav-item nav-link sidebar-item-principal" href="{% url 'inicio' %}">
                                <i class="fas fa-compass"></i> Inicio
                            </a>
                        </li>
                    </ul>
                    <!-- DATOS MAESTROS -->
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#homeSubmenuDatosMaestros" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-item-principal">
                                <i class="fas fa-home"></i> Datos Maestros
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenuDatosMaestros">
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'cargos_index' %}">
                                        <i class="fas fa-table"></i> Cargos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'certificacion_index' %}">
                                        <i class="fas fa-table"></i> Certificacion
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'clientes_index' %}">
                                        <i class="fas fa-user"></i> Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'conceptos_index' %}">
                                        <i class="fas fa-table"></i> Conceptos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'consultores_index' %}">
                                        <i class="fas fa-table"></i> Consultores
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'contactos_index' %}">
                                        <i class="fas fa-table"></i> Contactos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'costos_indirectos_index' %}">
                                        <i class="fas fa-table"></i> Costos Indirectos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'empleado_index' %}">
                                        <i class="fas fa-table"></i> Empleados
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'empleados_estudios_index' %}">
                                        <i class="fas fa-table"></i> Empleados Estudios
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'gastos_index' %}">
                                        <i class="fas fa-table"></i> Gastos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'horas_habiles_index' %}">
                                        <i class="fas fa-table"></i> Horas Hábiles
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'ind_index' %}">
                                        <i class="fas fa-table"></i> IND
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'ipc_index' %}">
                                        <i class="fas fa-table"></i> IPC
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'linea_index' %}">
                                        <i class="fas fa-table"></i> Línea
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'Modulo' %}">
                                        <i class="fas fa-table"></i> Modulo
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'moneda_index' %}">
                                        <i class="fas fa-table"></i> Moneda
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'perfil_index' %}">
                                        <i class="fas fa-table"></i> Perfil
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'tipo_documento_index' %}">
                                        <i class="fas fa-table"></i> Tipo Documento
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'tipos_contactos_index' %}">
                                        <i class="fas fa-table"></i> Tipos Contactos
                                    </a>
                                </li>
                            </ul>
                        </li>                   
                    </ul> 
                    <!-- INFORMES -->
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#homeSubmenuInformes" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-item-principal">
                                <i class="fas fa-file-alt"></i> Informes
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenuInformes">
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'informes_certificacion_index' %}">
                                        <i class="fas fa-certificate"></i> Informe Certificación
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'informes_empleado_index' %}">
                                        <i class="fas fa-user"></i> Informe Empleados
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'informes_salarios_index' %}">
                                        <i class="fas fa-money-bill"></i> Informe Salarios
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'informes_estudios_index' %}">
                                        <i class="fas fa-graduation-cap"></i> Informe Estudios
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'informes_consultores_index' %}">
                                        <i class="fas fa-info"></i> Informe Consultores
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul> 
                    <!-- MOVIMIENTOS -->
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#homeSubmenuMovimientos" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-item-principal">
                                <i class="fa fa-exchange-alt"></i> Movimientos
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenuMovimientos">
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'clientes_contratos_index' %}">
                                        <i class="fas fa-table"></i> Clientes Contratos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'detalle_certificacion_index' %}">
                                        <i class="fas fa-table"></i> Detalle Certificacion
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'detalle_costos_indirectos_index' %}">
                                        <i class="fas fa-table"></i> Detalle Costos Indirectos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'detalle_gastos_index' %}">
                                        <i class="fas fa-table"></i> Detalle Gastos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'historial_cargos_index' %}">
                                        <i class="fas fa-table"></i> Historial Cargos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'nomina_index' %}">
                                        <i class="fas fa-table"></i> Nomina
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'registro_tiempos_index' %}">
                                        <i class="fas fa-table"></i> Registro Tiempos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'tarifa_clientes_index' %}">
                                        <i class="fas fa-table"></i> Tarifa Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'tarifa_consultores_index' %}">
                                        <i class="fas fa-table"></i> Tarifa Consultores
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'total_costos_indirectos_index' %}">
                                        <i class="fas fa-table"></i> Total Costos Indirectos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'total_gastos_index' %}">
                                        <i class="fas fa-table"></i> Total Gastos
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'clientes_factura_index' %}">
                                        <i class="fas fa-table"></i> Facturación Clientes
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- INDICADORES -->
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#homeSubmenuIndicadores" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-item-principal">
                                <i class="fa fa-chart-line"></i> Indicadores
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenuIndicadores">
                                <!-- Añadir elementos de "Indicadores" aquí si es necesario -->
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- FOOTER -->     
            </nav>
        
            <!-- Contenido de la página -->
            <div class="container" id="content">
                <div class="row">
                    <div class="col-12">
                        {% block contenido %}
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div> 
            </div>

        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="{% static 'script.js' %}"></script>

    </body>
</html>