{% extends 'base.html' %}
{% load static %}


{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}
<div class="card">
    <div id="message-box" class="alert alert-dismissible fade" role="alert" style="display: none;">
        <span id="alert-icon" class="alert-heading"></span>
        <span id="alert-message"></span>
    </div>
    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Clientes</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'clientes_crear' %}" role="button" ></a>
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a>
            <i class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i>
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" ></button>
            <!-- Botón de Descargar -->
                <form id="download-form" method="POST" action="{% url 'clientes_descargar_excel' %}" style="display:inline;">    
                {% csrf_token %}
                <input type="hidden" name="items_to_delete" id="items_to_delete">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <!-- Botón de Guardar -->
            <button id="save-button" class="btn btn-outline-success fas fa-save d-none" title="Guardar" type="button" onclick="saveRow();"></button>
            <button id="cancel-button" class="btn btn-outline-danger fas fa-times d-none" title="Cancelar" type="button" onclick="cancelEdit();"></button>
        </div> 
    </div>
    <div class="card-footer text-muted">
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'clientes_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th>Tipo Documento</th>
                            <th>Documento ID</th>
                            <th>Nombre Cliente</th>
                            <th>Activo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Retiro</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo Electronico</th>
                            <th>Contacto Principal</th>
                            <th>Buzon Facturacion</th>
                            <th>Tipo Cliente</th>
                            <th>Ciudad</th>
                            <th>Departamento</th>
                            <th>Pais</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr id="row-{{ cliente.TipoDocumentoID.TipoDocumentoID }}-{{ cliente.DocumentoId }}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ cliente.ClienteId }}"></td>
                            <td>
                                <input type="text" name="TipoDocumentoID" class="form-control-plaintext" value="{{ cliente.TipoDocumentoID.Nombre }}" disabled style="width: 150px;">
                            </td>
                            <td><input type="text" name="DocumentoId" class="form-control-plaintext" value="{{ cliente.DocumentoId }}" disabled style="width: 150px;"></td>
                            <td><input type="text" name="Nombre_Cliente" class="form-control-plaintext" value="{{ cliente.Nombre_Cliente }}" readonly style="width: 150px;"></td>
                            <td>
                                <select name="Activo" class="form-control-plaintext" disabled style="width: 150px;">
                                    <option value="True" {% if cliente.Activo %}selected{% endif %}>SI</option>
                                    <option value="False" {% if not cliente.Activo %}selected{% endif %}>NO</option>
                                </select>
                            </td>
                            <td><input type="date" name="Fecha_Inicio" class="form-control-plaintext" value="{{ cliente.Fecha_Inicio|date:'Y-m-d' }}" readonly style="width: 150px;"></td>
                            
                            <td><input type="date" name="Fecha_Retiro" class="form-control-plaintext" value="{{ cliente.Fecha_Retiro|date:'Y-m-d' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="Direccion" class="form-control-plaintext" value="{{ cliente.Direccion|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="Telefono" class="form-control-plaintext" value="{{ cliente.Telefono|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="CorreoElectronico" class="form-control-plaintext" value="{{ cliente.CorreoElectronico|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            
                            <td>
                                <select name="ContactoID" class="form-control-plaintext" data-val="{{ cliente.ContactoID.id }}" style="width: 150px;" disabled>
                                    <option value="{{ cliente.ContactoID.id }}">{{ cliente.ContactoID.Nombre }}</option>
                                </select>
                            </td>

                            <td><input type="text" name="BuzonFacturacion" class="form-control-plaintext" value="{{ cliente.BuzonFacturacion|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="TipoCliente" class="form-control-plaintext" value="{{ cliente.TipoCliente|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="Ciudad" class="form-control-plaintext" value="{{ cliente.Ciudad|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="Departamento" class="form-control-plaintext" value="{{ cliente.Departamento|default_if_none:'' }}" readonly style="width: 150px;"></td>
                            <td><input type="text" name="Pais" class="form-control-plaintext" value="{{ cliente.Pais|default_if_none:'' }}" readonly style="width: 150px;"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este cliente?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button id="confirm-delete-btn" type="button" class="btn btn-danger">Sí</button>
            </div>
        </div>
    </div>
</div>


<script>
    const contactosPorCliente = JSON.parse('{{ contactos_por_cliente|escapejs }}');
</script>

<script src="{% static 'JS/Clientes.js' %}"></script>


{% endblock %}
