{% extends 'base.html' %}
{% load static %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Clientes</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'clientes_crear' %}" role="button" ></a>
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a>
            <i class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i>
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" ></button>
            <form id="download-form" method="POST" action="{% url 'clientes_descargar_excel' %}" style="display:inline;" onsubmit="return confirmDownload();">
                {% csrf_token %}
                <input type="hidden" name="items_to_download" id="items_to_download">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <!-- Botón de Guardar -->
            <button id="save-button" class="btn btn-outline-success fas fa-save d-none" title="Guardar" onclick="saveRow();"></button>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'clientes_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th>Tipo Documento</th>
                            <th>Documento ID</th>
                            <th>Nombre Cliente</th>
                            <th>Activo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Retiro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr id="row-{{ cliente.TipoDocumentoID.TipoDocumentoID }}-{{ cliente.DocumentoId }}">
                            <td><input type="checkbox" class="row-select" name="cliente_ids" value="{{ cliente.TipoDocumentoID.TipoDocumentoID }}-{{ cliente.DocumentoId }}" ></td>
                            <td><input type="text" name="TipoDocumentoID" class="form-control-plaintext" value="{{ cliente.TipoDocumentoID.Nombre }}" data-val="{{ cliente.TipoDocumentoID.TipoDocumentoID }}" disabled></td>
                            <td><input type="text" name="DocumentoId" class="form-control-plaintext" value="{{ cliente.DocumentoId }}" readonly></td>
                            <td><input type="text" name="Nombre_Cliente" class="form-control-plaintext" value="{{ cliente.Nombre_Cliente }}" readonly></td>
                            <td><input type="text" name="Activo" class="form-control-plaintext" value="{{ cliente.Activo }}" readonly></td>
                            <td><input type="date" name="Fecha_Inicio" class="form-control-plaintext" value="{{ cliente.Fecha_Inicio|date:'Y-m-d' }}" readonly></td>
                            <td>
                                {% if not cliente.Activo %}
                                <input type="date" name="Fecha_Retiro" class="form-control-plaintext" value="{{ cliente.Fecha_Retiro|date:'Y-m-d' }}" readonly>
                                {% else %}
                                <input type="text" name="Fecha_Retiro" class="form-control-plaintext" value="-" readonly>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'JS/Clientes.js' %}"></script>


{% endblock %}
