{% extends "base.html" %}

{% block titulo %} Agregar Detalle {% endblock %}

{% block contenido %}
    <h2>Agregar Detalle a {{ total_costos }}</h2>
    <form method="post">
        {% csrf_token %}
         <!-- Ocultar los campos Año y Mes -->
        <input type="hidden" name="Anio" value="{{ total_costos.Anio }}">
        <input type="hidden" name="Mes" value="{{ total_costos.Mes }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Detalle</button>
        <a href="{% url 'total_costos_indirectos_index' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}