{% extends "Base.html" %}
{% load static %}
{% load custom_filters %}
{% block titulo %} Lista de Total Costos Indirectos {% endblock %}

{% block contenido %}
<div class="card">
    <div id="message-box" class="alert alert-dismissible fade" role="alert" style="display: none;">
        <span id="alert-icon" class="alert-heading"></span>
        <span id="alert-message"></span>
    </div>

    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Total Costos Indirectos</h4>
    </div>

    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group">
            <a class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'total_costos_indirectos_crear' %}" role="button"></a>
            <button id="edit-button" 
                class="btn btn-outline-primary fas fa-edit" 
                title="Editar" 
                type="button"
                onclick="enableEditDetails();">
            </button>
            <button type="button" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" onclick="eliminarSeleccionados(event);"></button>
            <form id="download-form" method="POST" action="{% url 'total_costos_indirectos_descargar_excel' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="items_to_download" id="items_to_download">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar"></button>
            </form>
            <!-- Botón de Visualizar -->
            <button id="visualizar-button" 
                class="btn btn-outline-secondary fas fa-eye" 
                title="Visualizar" 
                type="button"
                onclick="visualizarDetalles();">
            </button>
            <!-- Botones de Guardar y Cancelar -->
            <button id="save-button" 
                class="btn btn-outline-success fas fa-save d-none" 
                title="Guardar" 
                type="button" 
                onclick="saveDetails();">
            </button>
            <button id="cancel-button" 
                class="btn btn-outline-danger fas fa-times d-none" 
                title="Cancelar" 
                type="button"
                onclick="cancelEditDetails();">
            </button>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="table-responsive table-app-wrap">
            <form id="delete-form" method="POST" action="{% url 'total_costos_indirectos_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary table-app" id="tabla_detalles">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th data-sort="Anio" class="sortable" data-direction="default">
                                Año
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="Mes" class="sortable" data-direction="default">
                                Mes
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="Total" class="sortable" data-direction="default">
                                Total
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in total_costos_indirectos_data %}
                        <tr id="row-{{ item.id }}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ item.id }}"></td>
                            <td data-field="Anio" class="text-end"><span>{{ item.Anio }}</span></td>
                            <td data-field="Mes" class="text-end"><span>{{ item.Mes }}</span></td>
                            <td data-field="Total" class="text-end" id="total-{{ item.Anio }}-{{ item.Mes }}"><span>{{ item.Total|currency_format }} </span></td>
                            <td>
                                <a href="{% url 'total_costos_crear_detalle' item.id %}" class="btn btn-success btn-sm" title="Agregar Detalle">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!-- Tabla de Detalles de Costos Indirectos (editable) -->
<div class="card mt-4 d-none" id="tabla-detalles-container">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Detalles de Costos Indirectos</h5>
        <button id="guardar-detalles" class="btn btn-success d-none" onclick="saveDetails()">Guardar Cambios</button>
    </div>
    <div class="card-body">
        <div class="table-responsive table-app-wrap">
            <table class="table table-striped table-app" id="tabla-detalles">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-detalles"></th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Costos</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="tabla-detalles-secundaria-tbody">
                    {% for detalle in detalles_costos_indirectos %}
                    <tr data-id="{{ detalle.Id }}">
                        <td><input type="checkbox" class="detail-select" value="{{ detalle.Id }}"></td>
                        <td><input type="text" name="Anio" value="{{ detalle.Anio }}"></td>
                        <td><input type="text" name="Mes" value="{{ detalle.Mes }}"></td>
                        <td><select type="text" name="CostosId" value="{{ detalle.CostosId_id }}"></td>
                        <td><input type="text" name="Valor" value="{{ detalle.Valor }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'JS/TotalCostos.js' %}"></script>
{% endblock %}