{% extends 'base.html' %}
{% load static %}
{% block titulo %} Lista de Empleados {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Empleados</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'empleado_crear' %}" role="button" ></a>
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a>
            <i class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i>
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar"></button>
            <form id="download-form" method="POST" action="{% url 'empleado_descargar_excel' %}" style="display:inline;" onsubmit="return confirmDownload();">
                {% csrf_token %}
                <input type="hidden" name="items_to_delete" id="items_to_delete">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <!-- Botones de Guardar y Cancelar -->
            <button id="save-button" 
                    class="btn btn-outline-success fas fa-save d-none" 
                    title="Guardar" 
                    type="button" 
                    onclick="saveRow();">
            </button>
            <button id="cancel-button" 
                    class="btn btn-outline-danger fas fa-times d-none" 
                    title="Cancelar" 
                    type="button"
                    onclick="cancelEdit();">
            </button>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'empleado_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary" id="infoEmpleadosTable">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th data-sort="tipo_documento" class="sortable" data-direction="default">
                                Tipo Documento
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="documento" class="sortable" data-direction="default">
                                Documento
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="nombre" class="sortable" data-direction="default">
                                Nombre
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_nacimiento" class="sortable" data-direction="default">
                                Fecha Nacimiento
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_ingreso" class="sortable" data-direction="default">
                                Fecha Ingreso
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_operacion" class="sortable" data-direction="default">
                                Fecha Operación
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="modulo" class="sortable" data-direction="default">
                                Módulo
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="perfil" class="sortable" data-direction="default">
                                Perfil
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="linea" class="sortable" data-direction="default">
                                Línea
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="cargo" class="sortable" data-direction="default">
                                Cargo
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>                            
                            </th>
                            <th data-sort="titulo_profesional" class="sortable" data-direction="default">
                                Título Profesional
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>                            
                            </th>
                            <th data-sort="fecha_grado" class="sortable" data-direction="default">
                                Fecha Grado
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="universidad" class="sortable" data-direction="default">
                                Universidad
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="profesion" class="sortable" data-direction="default">
                                Profesión Realizada
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="academia" class="sortable" data-direction="default">
                                Academia SAP
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="certificado" class="sortable" data-direction="default">
                                Certificado SAP
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="otras_certificaciones" class="sortable" data-direction="default">
                                Otras Certificaciones
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="postgrados" class="sortable" data-direction="default">
                                Postgrados
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="activo" class="sortable" data-direction="default">
                                Activo
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_retiro" class="sortable" data-direction="default">
                                Fecha Retiro
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="direccion" class="sortable" data-direction="default">
                                Dirección
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>                            
                            </th>
                            <th data-sort="ciudad" class="sortable" data-direction="default">
                                Ciudad
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="departamento" class="sortable" data-direction="default">
                                Departamento
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="direccion_alterna" class="sortable" data-direction="default">
                                Dirección Alterna
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="telefono1" class="sortable" data-direction="default">
                                Teléfono 1
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="telefono2" class="sortable" data-direction="default">
                                Teléfono 2
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                        <tr id="row-{{ empleado.Documento }}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ empleado.Documento }}"></td>
                            <td data-field="tipo_documento">
                                <span class="d-block text-start">{{ empleado.TipoDocumento.Nombre }}</span>
                                <select name="TipoDocumento" class="form-select d-none">
                                    {% for tipo_doc in form.fields.TipoDocumento.queryset %}
                                        <option value="{{ tipo_doc.TipoDocumentoID }}" {% if empleado.TipoDocumento.Nombre == tipo_doc.Nombre %}selected{% endif %}>
                                            {{ tipo_doc.Nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>                            
                            <td data-field="documento">
                                <span class="d-block text-end">{{ empleado.Documento }}</span>
                                <input type="text" name="Documento" class="form-control-plaintext d-none text-start" value="{{ empleado.Documento }}" readonly>
                            </td>
                            <td data-field="nombre" style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <input type="text" name="Nombre" class="form-control-plaintext d-block text-start" value="{{ empleado.Nombre }}" readonly>
                            </td>
                            <td data-field="fecha_nacimiento">
                                <input type="date" name="FechaNacimiento" class="form-control-plaintext d-block text-end" value="{{ empleado.FechaNacimiento|date:'Y-m-d' }}" readonly>
                            </td>
                            <td data-field="fecha_ingreso">
                                <input type="date" name="FechaIngreso" class="form-control-plaintext d-block text-end" value="{{ empleado.FechaIngreso|date:'Y-m-d' }}" readonly>
                            </td>
                            <td data-field="fecha_operacion">
                                <input type="date" name="FechaOperacion" class="form-control-plaintext d-block text-end" value="{{ empleado.FechaOperacion|date:'Y-m-d' }}" readonly>
                            </td>
                            <td data-field="modulo" style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <select name="ModuloId" class="form-control-plaintext d-block text-start" disabled>
                                    {% for modulo in form.fields.ModuloId.queryset %}
                                        <option value="{{ modulo.ModuloId }}" {% if empleado.ModuloId.Modulo == modulo.Modulo %}selected{% endif %}>
                                            {{ modulo.Modulo }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-field="perfil" style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <select name="PerfilId" class="form-control-plaintext d-block text-start" disabled>
                                    {% for perfil in form.fields.PerfilId.queryset %}
                                        <option value="{{ perfil.PerfilId }}" {% if empleado.PerfilId.Perfil == perfil.Perfil %}selected{% endif %}>
                                            {{ perfil.Perfil }}
                                        </option>   
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-field="linea" style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <select name="LineaId" class="form-control-plaintext d-block text-start" disabled>
                                    {% for linea in form.fields.LineaId.queryset %}
                                        <option value="{{ linea.LineaId }}" {% if empleado.LineaId.Linea == linea.Linea %}selected{% endif %}>
                                            {{ linea.Linea }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-field="cargo" style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <select name="CargoId" class="form-control-plaintext d-block text-start" disabled>
                                    {% for cargo in form.fields.CargoId.queryset %}
                                        <option value="{{ cargo.CargoId }}" {% if empleado.CargoId.Cargo == cargo.Cargo %}selected{% endif %}>
                                            {{ cargo.Cargo }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-field="titulo"><input type="text" name="TituloProfesional" class="form-control-plaintext d-block text-start" value="{{ empleado.TituloProfesional }}" readonly></td>
                            <td data-field="fecha_grado"><input type="date" name="FechaGrado" class="form-control-plaintext d-block text-end" value="{{ empleado.FechaGrado|date:'Y-m-d' }}" readonly></td>
                            <td data-field="universidad"><input type="text" name="Universidad" class="form-control-plaintext d-block text-start" value="{{ empleado.Universidad }}" readonly></td>
                            <td data-field="profesion"><input type="text" name="ProfesionRealizada" class="form-control-plaintext d-block text-start" value="{{ empleado.ProfesionRealizada }}" readonly></td>
                            <td data-field="academia">
                                <select name="AcademiaSAP" class="form-control-plaintext d-block text-start" disabled>
                                    <option value="1" {% if empleado.AcademiaSAP == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.AcademiaSAP == 0 %}selected{% endif %}>No</option>
                                </select>                                
                            <td data-field="certificado">
                                <select name="CertificadoSAP" class="form-control-plaintext d-block text-start" disabled>
                                    <option value="1" {% if empleado.CertificadoSAP == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.CertificadoSAP == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td data-field="otras_certificaciones">
                                <select name="OtrasCertificaciones" class="form-control-plaintext d-block text-start" disabled>
                                    <option value="1" {% if empleado.OtrasCertificaciones == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.OtrasCertificaciones == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td data-field="postgrados">
                                <select name="Postgrados" class="form-control-plaintext d-block text-start" disabled>
                                    <option value="1" {% if empleado.Postgrados == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.Postgrados == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td data-field="activo">
                                <select name="Activo" class="form-control-plaintext d-block text-start" disabled>
                                    <option value="1" {% if empleado.Activo == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.Activo == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td data-field="fecha_retiro"><input type="date" name="FechaRetiro" class="form-control-plaintext d-block text-end" value="{{ empleado.FechaRetiro|date:'Y-m-d' }}" readonly></td>
                            <td data-field="dirreccion"><input type="text" name="Direccion" class="form-control-plaintext d-block text-start" value="{{ empleado.Direccion|default:"-" }}" readonly></td>
                            <td data-field="ciudad"><input type="text" name="Ciudad" class="form-control-plaintext d-block text-start" value="{{ empleado.Ciudad|default:"-" }}" readonly></td>
                            <td data-field="departamento"><input type="text" name="Departamento" class="form-control-plaintext d-block text-start" value="{{ empleado.Departamento|default:"-" }}" readonly></td>
                            <td data-field="direccion_alterna"><input type="text" name="DireccionAlterna" class="form-control-plaintext d-block text-start" value="{{ empleado.DireccionAlterna|default:"-" }}" readonly></td>
                            <td data-field="telefono1"><input type="number" name="Telefono1" class="form-control-plaintext d-block text-end" value="{{ empleado.Telefono1|default:"-" }}" readonly></td>
                            <td data-field="telefono2"><input type="number" name="Telefono2" class="form-control-plaintext d-block text-end" value="{{ empleado.Telefono2|default:"-" }}" readonly></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No hay datos disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    
    
    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este Empleado?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button id="confirm-delete-btn" type="button" class="btn btn-danger">Sí</button>
            </div>
        </div>
        </div>
    </div>
</div> 

<script src=\"{% static 'JS/Empleado.js' %}\"></script>
{% endblock %}