{% extends 'base.html' %}
{% load static %}
{% block titulo %} Lista de Empleados {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Empleados</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'empleado_crear' %}" role="button" ></a>
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a>
            <i class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i>
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar"></button>
            <form id="download-form" method="POST" action="{% url 'empleado_descargar_excel' %}" style="display:inline;" onsubmit="return confirmDownload();">
                {% csrf_token %}
                <input type="hidden" name="items_to_delete" id="items_to_delete">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <!-- Botones de Guardar y Cancelar -->
            <button id="save-button" 
                    class="btn btn-outline-success fas fa-save d-none" 
                    title="Guardar" 
                    type="button" 
                    onclick="saveRow();">
            </button>
            <button id="cancel-button" 
                    class="btn btn-outline-danger fas fa-times d-none" 
                    title="Cancelar" 
                    type="button"
                    onclick="cancelEdit();">
            </button>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'empleado_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">Tipo Documento</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha Nacimiento</th>
                            <th scope="col">Fecha Ingreso</th>
                            <th scope="col">Fecha Operación</th>
                            <th scope="col">Módulo</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Línea</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Título Profesional</th>
                            <th scope="col">Fecha Grado</th>
                            <th scope="col">Universidad</th>
                            <th scope="col">Profesión Realizada</th>
                            <th scope="col">Academia SAP</th>
                            <th scope="col">Certificado SAP</th>
                            <th scope="col">Otras Certificaciones</th>
                            <th scope="col">Postgrados</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Fecha Retiro</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Dirección Alterna</th>
                            <th scope="col">Teléfono 1</th>
                            <th scope="col">Teléfono 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                        <tr id="row-{{ empleado.Documento }}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ empleado.Documento }}"></td>
                            <td>
                                {{ empleado.TipoDocumento.Nombre }}

                                <!-- Modo edición: Select de TipoDocumento -->
                                <select name="TipoDocumento" class="form-select d-none">
                                    {% for tipo_doc in form.fields.TipoDocumento.queryset %}
                                        <option value="{{ tipo_doc.TipoDocumentoID }}" {% if empleado.TipoDocumento.Nombre == tipo_doc.Nombre %}selected{% endif %}>
                                            {{ tipo_doc.Nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>                            
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                {{ empleado.Documento }}
                                <input type="text" name="Documento" class="form-control-plaintext d-none" value="{{ empleado.Documento }}" readonly>
                            </td>
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <input type="text" name="Nombre" class="form-control-plaintext" value="{{ empleado.Nombre }}" readonly>
                            </td>
                            <td>
                                <input type="date" name="FechaNacimiento" class="form-control-plaintext" value="{{ empleado.FechaNacimiento|date:'Y-m-d' }}" readonly>
                            </td>
                            <td>
                                <input type="date" name="FechaIngreso" class="form-control-plaintext" value="{{ empleado.FechaIngreso|date:'Y-m-d' }}" readonly>
                            </td>
                            <td>
                                <input type="date" name="FechaOperacion" class="form-control-plaintext" value="{{ empleado.FechaOperacion|date:'Y-m-d' }}" readonly>
                            </td>
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">
                                <select name="ModuloId" class="form-control-plaintext" disabled>
                                    {% for modulo in form.fields.ModuloId.queryset %}
                                        <option value="{{ modulo.ModuloId }}" {% if empleado.ModuloId == modulo.id %}selected{% endif %}>
                                            {{ modulo.Modulo }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">

                                <select name="PerfilId" class="form-control-plaintext" disabled>
                                    {% for perfil in form.fields.PerfilId.queryset %}
                                        <option value="{{ perfil.PerfilId }}" {% if empleado.PerfilId == perfil.id %}selected{% endif %}>
                                            {{ perfil.Perfil }}
                                        </option>   
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">

                                <select name="LineaId" class="form-control-plaintext" disabled>
                                    {% for linea in form.fields.LineaId.queryset %}
                                        <option value="{{ linea.LineaId }}" {% if empleado.LineaId == linea.id %}selected{% endif %}>
                                            {{ linea.Linea }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="overflow: visible; text-overflow: ellipsis; min-width: 150px;">

                                <select name="CargoId" class="form-control-plaintext" disabled>
                                    {% for cargo in form.fields.CargoId.queryset %}
                                        <option value="{{ cargo.CargoId }}" {% if empleado.CargoId == cargo.id %}selected{% endif %}>
                                            {{ cargo.Cargo }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="TituloProfesional" class="form-control-plaintext" value="{{ empleado.TituloProfesional }}" readonly></td>
                            <td><input type="date" name="FechaGrado" class="form-control-plaintext" value="{{ empleado.FechaGrado|date:'Y-m-d' }}" readonly></td>
                            <td><input type="text" name="Universidad" class="form-control-plaintext" value="{{ empleado.Universidad }}" readonly></td>
                            <td><input type="text" name="ProfesionRealizada" class="form-control-plaintext" value="{{ empleado.ProfesionRealizada }}" readonly></td>
                            <td>
                                <select name="AcademiaSAP" class="form-control-plaintext" disabled>
                                    <option value="1" {% if empleado.AcademiaSAP == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.AcademiaSAP == 0 %}selected{% endif %}>No</option>
                                </select>                                
                            <td>
                                <select name="CertificadoSAP" class="form-control-plaintext" disabled>
                                    <option value="1" {% if empleado.CertificadoSAP == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.CertificadoSAP == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td>
                                <select name="OtrasCertificaciones" class="form-control-plaintext" disabled>
                                    <option value="1" {% if empleado.OtrasCertificaciones == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.OtrasCertificaciones == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td>
                                <select name="Postgrados" class="form-control-plaintext" disabled>
                                    <option value="1" {% if empleado.Postgrados == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.Postgrados == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td>
                                <select name="Activo" class="form-control-plaintext" disabled>
                                    <option value="1" {% if empleado.Activo == 1 %}selected{% endif %}>Sí</option>
                                    <option value="0" {% if empleado.Activo == 0 %}selected{% endif %}>No</option>
                                </select>
                            </td>
                            <td><input type="date" name="FechaRetiro" class="form-control-plaintext" value="{{ empleado.FechaRetiro|date:'Y-m-d' }}" readonly></td>
                            <td><input type="text" name="Direccion" class="form-control-plaintext" value="{{ empleado.Direccion|default:"-" }}" readonly></td>
                            <td><input type="text" name="Ciudad" class="form-control-plaintext" value="{{ empleado.Ciudad|default:"-" }}" readonly></td>
                            <td><input type="text" name="Departamento" class="form-control-plaintext" value="{{ empleado.Departamento|default:"-" }}" readonly></td>
                            <td><input type="text" name="DireccionAlterna" class="form-control-plaintext" value="{{ empleado.DireccionAlterna|default:"-" }}" readonly></td>
                            <td><input type="text" name="Telefono1" class="form-control-plaintext" value="{{ empleado.Telefono1|default:"-" }}" readonly></td>
                            <td><input type="text" name="Telefono2" class="form-control-plaintext" value="{{ empleado.Telefono2|default:"-" }}" readonly></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No hay datos disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div id="message-box" class="alert alert-dismissible fade" role="alert" style="display: none;">
        <span id="alert-icon" class="alert-heading"></span>
        <span id="alert-message"></span>
    </div>
    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este Empleado?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button id="confirm-delete-btn" type="button" class="btn btn-danger">Sí</button>
            </div>
        </div>
        </div>
    </div>
</div> 

<script src="{% static 'JS/empleado.js' %}"></script>
{% endblock %}
