/* styles.css */

/* Estilo para el sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    transition: all 0.3s;
    border-right: 1px solid #dddddd; /* Borde derecho para diferenciarlo del contenido */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f8f9fa; /* Fondo más claro para el encabezado del sidebar */
    color: #000000; /* Texto negro */
    border-bottom: 1px solid #dddddd; /* Borde inferior para diferenciarlo del menú */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000000; /* Texto negro */
}

#sidebar ul li a:hover {
    color: #007bff; /* Texto azul al pasar el mouse */
    background: #e9ecef; /* Fondo gris claro al pasar el mouse */
    text-decoration: none;
}

#sidebar ul li.active > a, 
a[aria-expanded="true"] {
    color: #ffffff;
    background: #007bff; /* Fondo azul para el ítem activo o expandido */
}

#sidebar ul li ul {
    padding-left: 20px;
}

#content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
}

/* Estilo general para las tablas */
.table-responsive {
    max-height: 400px; /* Ajusta este valor según lo necesites */
    overflow-y: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Fondo blanco para que no se superpongan los datos */
    z-index: 1;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Resaltado de filas al pasar el mouse */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Estilo para los iconos */
.fa {
    margin-right: 8px;
    cursor: pointer;
}

.fa:hover {
    color: #007bff;
}

/* Estilo para las entradas de formulario en las tablas */
.table input[type="text"], 
.table input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}