{% extends "base.html" %}

{% block titulo %} Lista de Tablas {% endblock %}

{% block contenido %}


<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h4 class="card-title " >Tabla Módulos</h4>
        
    </div>
    <div class="card-body">
         <!-- CRUD Icons -->
        <td>
            <i name=""
            id=""
            class="fas fa-plus-circle"  
            title="Crear"
            href="{% url 'editar' %}"
            role="button"></i> 
        |
            <i name=""
            id="" 
            class="fas fa-edit" 
            title="Actualizar"
            href="#"
            role="button"></i> 
        | 
            <i name=""
            id=""
            class="fas fa-eye"
            title="Visualizar"
            href="#"
            role="button"></i>
        
        | 
            <i name=""
            id=""
            class="fas fa-trash-alt"
            title="Eliminar"
            href="#"
            role="button"></i>
        |
            <i name=""
            id=""
            class="fas fa-download" 
            title="Descargar"
            href="#"
            role="button"></i>
         </td>
    </tr>
    </div>
    <div class="card-footer text-muted">
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="select-all">
                        </th>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre módulo</th>
                    </tr>
                </thead>
                <tbody>

                    {% for modulo in modulos %}

                    <tr class="">
                        <td><input type="checkbox" class="row-select"></td>
                        <td>{{ modulo.id }}</td>
                        <td>{{ modulo.Nombre }}</td>
                       
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>


{% endblock %}