{% extends "base.html" %}
{% load static %}

{% block titulo %} Lista de Certificaciones {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h4 class="card-title">Certificaciones</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a name="" id="" class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'certificacion_crear' %}" role="button" ></a> 
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a> 
            <button id="save-button" class="btn btn-outline-success fas fa-save d-none" title="Guardar" onclick="saveRow();"></button>
            <i name="" id="" class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i> 
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" ></button> 
            <form id="download-form" method="POST" action="{% url 'certificacion_descargar_excel' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
        </div>
    </div>
    <div class="card-footer text-muted">
        
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'certificacion_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">Código Certificación</th>
                            <th scope="col">Certificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificacion in certificaciones %}
                        <tr id="row-{{ certificacion.CertificacionId }}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{ certificacion.CertificacionId }}"></td>
                            <td><input type="text" name="CertificacionId" class="form-control-plaintext" value="{{ certificacion.CertificacionId }}" disabled></td>
                            <td><input type="text" name="Certificacion" class="form-control-plaintext" value="{{ certificacion.Certificacion }}" readonly></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No hay datos disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'JS/Certificacion.js' %}"></script>
{% endblock %}
