{% extends "base.html" %}

{% block titulo %} Confirmar Eliminación {% endblock %}

{% block contenido %}
    <h2>¿Estás seguro de que deseas eliminar el registro de Detalle_Certificacion con DocumentoId "{{ detalle_certificacion.documento_id }}" y CertificacionId "{{ detalle_certificacion.certificacion_id }}"?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'detalle_certificacion_index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}