{% extends "base.html" %}

{% block titulo %} Crear Gasto {% endblock %}

{% block contenido %}
    <div class="container mt-4">
        <h2>Crear Nuevo Gasto</h2>
        <form method="post">
            {% csrf_token %}
            <fieldset class="border p-4">
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
            </fieldset>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'gasto_index' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}