/* styles.css */

/* Estilo para el sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    transition: all 0.3s;
    border-right: 1px solid #dddddd; /* Borde derecho para diferenciarlo del contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border-bottom: 1px solid #dddddd; /* Borde inferior */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000000; /* Texto negro */
    background: #ffffff; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    margin: 5px 10px; /* Margen para separar los elementos */
}

#sidebar ul li a:hover {
    color: #007bff; /* Texto azul al pasar el mouse */
    background: #f0f0f0; /* Fondo gris claro al pasar el mouse */
    text-decoration: none;
}

#sidebar ul li.active > a, 
a[aria-expanded="true"] {
    color: #ffffff;
    background: #007bff; /* Fondo azul para el ítem activo o expandido */
}

#sidebar ul li ul {
    padding-left: 20px;
}

#content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
}


/* Estilo general para las tablas */
.table-responsive {
    max-height: 500px; 
    max-width: 50%;   
    overflow-y: auto;    
    overflow-x: auto;  
    display: block;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Fondo blanco para que no se superpongan los datos */
    z-index: 1;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Resaltado de filas al pasar el mouse */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Estilo para los iconos */
.fa {
    margin-right: 8px;
    cursor: pointer;
}

.fa:hover {
    color: #007bff;
}

/* Estilo para las entradas de formulario en las tablas */
.table input[type="text"], 
.table input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.menu-item {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease; 
}

.menu-item a {
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #ccc; 
}

.menu-item a:hover {
    color: white; 
}

.menu-item i {
    color: black;
}

.menu-item:hover i {
    color: white; 
}

