{% extends "base.html" %}
{% load static %}

{% block titulo %} Lista de Contactos {% endblock %}

{% block contenido %}
<div class="card">
    <div id="message-box" class="alert alert-dismissible fade" role="alert" style="display: none;">
        <span id="alert-icon" class="alert-heading"></span>
        <span id="alert-message"></span>
    </div>
    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h4 class="card-title">Contacto</h4>
    </div>
    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a name="" id="" class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'contactos_crear' %}" role="button" ></a> 
            <a id="edit-button" class="btn btn-outline-primary fas fa-edit" title="Editar" href="#" role="button"  onclick="enableEdit();"></a> 
            <i name="" id="" class="btn btn-outline-primary fas fa-eye" title="Visualizar" href="#" role="button" style="margin-right: 10px;"></i> 
            <button type="button" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" ></button>
            <form id="download-form" method="POST" action="{% url 'contactos_descargar_excel' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <button id="save-button" 
            class="btn btn-outline-success fas fa-save d-none" 
            title="Guardar" 
            type="button" 
            onclick="saveRow();">
          </button>
          <button id="cancel-button" 
            class="btn btn-outline-danger fas fa-times d-none" 
            title="Cancelar" 
            type="button"
            onclick="cancelEdit();">
          </button>
        </div>
    </div>
    <div class="card-footer text-muted">
        
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'contactos_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Contacto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contacto in contactos %}
                            <tr id="row-{{contacto.id}}">
                            <td><input type="checkbox" class="row-select" name="items_to_delete" value="{{contacto.id}}"></td>
                            <td><input type="text" name="ClienteId" value="{{ contacto.clienteId.Nombre_Cliente}}" class="form-control-plaintext" readonly></td>
                            <td><input type="text" name="ContactoId" value="{{ contacto.contactoId.Descripcion}}" class="form-control-plaintext" readonly></td>
                            <td><input type="text" name="nombre" value="{{ contacto.Nombre}}" class="form-control-plaintext"></td>
                            <td><input type="text" name="telefono" value="{{ contacto.Telefono}}" class="form-control-plaintext"></td>
                            <td><input type="text" name="Direccion" value="{{ contacto.Direccion}}" class="form-control-plaintext"></td>
                            <td><input type="text" name="Cargo" value="{{ contacto.CargoId}}" class="form-control-plaintext"></td>
                            <td><input type="text" name="Activo" value="{{ contacto.activo}}" class="form-control-plaintext"></td>
                         {% empty %}
                        <tr>
                            <td colspan="6">No hay datos disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este contacto?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button id="confirm-delete-btn" type="button" class="btn btn-danger">Sí</button>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="{% static 'JS/contacto.js' %}"></script>
{% endblock %}