<!DOCTYPE html>
<html lang="es" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <title>Flag Soluciones | Iniciar Sesión</title>
</head>
<body>
  <div class="main">
    <div class="container b-container" id="b-container">
      <form id="b-form" class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="{% static 'resource/logo.webp' %}" alt="Flag Soluciones Logo" style="width: 150px;">
            <h2 class="form_title title">Iniciar Sesión</h2>
        </div>
        <span class="form__span">Ingrese su usuario, correo y contraseña para acceder</span>
        <input class="form__input" type="text" name="username" placeholder="Usuario o correo electrónico" required />
        <input class="form__input" type="password" name="password" placeholder="Contraseña" required />
        
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                Usuario/Email o contraseña incorrectos.
            </div>
        {% endif %}
        
        {% if messages %}
            <div class="messages mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <button class="form__button button submit" type="submit">ENTRAR</button>
    </form>
    </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>
      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">¡Bienvenido!</h2>
        <p class="switch__description description">Accede a la plataforma de Flag Soluciones con tus credenciales.</p>
      </div>
    </div>
  </div>
  <script src="login.js"></script>
</body>
</html>
