{% extends 'Base.html' %}
{% load static %}

{% block titulo %}
  Informe de Historial de Cargos
{% endblock %}

{% block contenido %}
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title">Informe de Historial de Cargos</h4>
    </div>
    <div class="card-body informes-table">
      <div class="container-fluid mb-3">
        <!-- Formulario de filtros -->
        <form method="GET">
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="Empleado" class="form-label">{{ form.Empleado.label }}</label>
              <div class="dropdown">
                <button 
                class="btn btn-outline-primary dropdown-toggle w-100" 
                type="button" 
                id="dropdownEmpleado" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                data-selected-text="Seleccione Empleado">
                
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownEmpleado">
                  {% for checkbox in form.Empleado %}
                    <li class="dropdown-item">
                      <label class="form-check-label w-100">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <label for="Cargo" class="form-label">{{ form.Cargo.label }}</label>
              <div class="dropdown">
                <button 
                class="btn btn-outline-primary dropdown-toggle w-100" 
                type="button" 
                id="dropdownCargo" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                data-selected-text="Seleccione Cargo">
              
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownCargo">
                  {% for checkbox in form.Cargo %}
                    <li class="dropdown-item">
                      <label class="form-check-label w-100">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <label for="Linea" class="form-label">{{ form.Linea.label }}</label>
              <div class="dropdown">
                <button 
                class="btn btn-outline-primary dropdown-toggle w-100" 
                type="button" 
                id="dropdownLinea" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                data-selected-text="Seleccione Linea">
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownLinea">
                  {% for checkbox in form.Linea %}
                    <li class="dropdown-item">
                      <label class="form-check-label w-100">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="row mb-3">            
            <div class="col-md-4">
              <label for="FechaInicio">{{ form.FechaInicio.label|date:'d/m/Y' }}</label>
              {{ form.FechaInicio }}
            </div>
            <div class="col-md-4">
              <label for="FechaFin">{{ form.FechaFin.label|date:'d/m/Y' }}</label>
              {{ form.FechaFin }}
            </div>
          </div>
          <!-- Botón de búsqueda -->
          <div class="row">
            <div class="col-md-6 text-start">
              <button type="submit" name="buscar" class="btn btn-primary">
                <i class="fas fa-search"></i> Buscar
              </button>
            </div>
          </div>
        </form>
        
        <!-- Botón para descargar Excel -->
        <div class="row">
          <div class="col-md-6 text-end offset-md-6">
            <form method="GET" action="{% url 'exportar_historial_cargos_excel' %}">
              {% for emp in form.Empleado.value %}
              <input type="hidden" name="Empleado" value="{{ emp }}" />
              {% endfor %}
              {% for cargo in form.Cargo.value %}
                <input type="hidden" name="Cargo" value="{{ cargo }}" />
              {% endfor %}
              {% for linea in form.Linea.value %}
                <input type="hidden" name="Linea" value="{{ linea }}" />
              {% endfor %}
              <button type="submit" class="btn btn-success">
                <i class="fas fa-file-excel"></i> Descargar Excel
              </button>
            </form>
          </div>
        </div>
      </div>
      
      {% if show_data %}
        <!-- Tabla de historial de cargos -->
        <div class="table-responsive table-app-wrap">
          <table class="table table-bordered table-hover table-primary table-app w-100" id="infoHistorialCargosTable">
            <thead>
              <tr>
                <th data-sort="documento" class="sortable" data-direction="default">
                  Documento
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="nombre" class="sortable" data-direction="default">
                  Nombre
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="linea" class="sortable" data-direction="default">
                  Linea
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="cargo" class="sortable" data-direction="default">
                  Cargo
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="descripcion" class="sortable" data-direction="default">
                  Descripción del Cargo
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="fecha_inicio" class="sortable" data-direction="default">
                  Fecha Inicio
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="fecha_fin" class="sortable" data-direction="default">
                  Fecha Fin
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>                
                </th>
              </tr>
            </thead>
            <tbody>
              {% if historial_cargos_info %}
                {% for historial in historial_cargos_info %}
                <tr>
                    <td data-field="documento" class="text-end">{{ historial.Documento }}</td>
                    <td data-field="nombre" class="text-start">{{ historial.Nombre }}</td>
                    <td data-field="linea" class="text-start">{{ historial.Linea }}</td>
                    <td data-field="cargo" class="text-start">{{ historial.Cargo }}</td>
                    <td data-field="descripcion" class="text-start">{{ historial.DescripcionCargo }}</td>
                    <td data-field="fecha_inicio" class="text-end">{{ historial.FechaInicio }}</td>
                    <td data-field="fecha_fin" class="text-end">{{ historial.FechaFin }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan="7">No hay datos disponibles.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div class="alert alert-warning" role="alert">
            {% if not busqueda_realizada %}
                No se ha realizado ninguna búsqueda aún.
            {% else %}
                No se encontraron resultados para los filtros aplicados.
            {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  <script src="{% static 'JS/InformesHistorialCargos.js' %}"></script>
{% endblock %}
