{% extends 'base.html' %}

{% block titulo %} Filtrar Nomina {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Filtrar Nomina</h4>
    </div>
    <div class="card-body">
        <!-- Formulario de búsqueda -->
        <form method="GET" class="form-inline">
            <div class="form-group mr-3 col-md-3">
                {{ form.Nombre.label_tag }}
                {{ form.Nombre }}
            </div>
            <div class="form-group mr-3 col-md-3">
                {{ form.LineaId.label_tag }}
                {{ form.LineaId }}
            </div>
            <div class="form-group mr-3 col-md-3"> 
                {{ form.Cargo.label_tag }} 
                {{ form.Cargo }}
            </div>
            <div class="form-group mr-3 col-md-3">
                {{ form.Anio.label_tag }} 
                {{ form.Anio }} 
            </div>
            <div class="form-group mt-3     mr-3 col-md-3">
                <button type="submit" name="buscar">Buscar</button>
            </div>            
        </form>

        <!-- Resultados -->
        {% if show_data %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Línea</th>
                            <th>Documento Colaborador</th>
                            <th>Nombre Colaborador</th>
                            <th>Cargo</th>
                            <th>Perfil</th>
                            <th>Módulo</th>
                            <th>Certificado</th>
                            <th>Fecha Ingreso</th>
                            <th>Años en Flag</th>
                            <th>Título Profesional Actual</th>
                            <th>Año</th>
                            <th>Salario Enero</th>
                            <!-- Puedes continuar con las demás columnas -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí iteras sobre los datos -->
                        {% for item in data %}
                        <tr>
                            <td>{{ item.nombre_linea }}</td>
                            <td>{{ item.documento_colaborador }}</td>
                            <td>{{ item.nombre_colaborador }}</td>
                            <td>{{ item.cargo }}</td>
                            <td>{{ item.perfil }}</td>
                            <td>{{ item.modulo }}</td>
                            <td>{{ item.certificado }}</td>
                            <td>{{ item.fecha_ingreso }}</td>
                            <td>{{ item.fecha_ingreso }} - fecha_actual</td>
                            <td>{{ item.titulo_profesional_actual }}</td>
                            <td>{{ item.anio }}</td>
                            <td>{{ item.salario_enero }}</td>
                            <!-- Continua con los demás campos -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
    