{% extends 'base.html' %}
{% load static %}

<!-- Titulo de la pestaña en navegador -->
{% block titulo %} Informe de estudios {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
         <!-- Titulo del informe -->
        <h4 class="card-title">Informe de estudios</h4>
    </div>
    <div class="card-body informes-table">
        <div class="container-fluid mb-3">
            <!-- Formulario principal -->
            <form method="GET">
                <!-- Filtros en la parte superior: Colaborador, Línea, Cargo -->
                <div class="row mb-3">

                 <!--Filtro Colaborador --> 
                    <div class="col-md-3">
                        <label for="colaborador">{{ form.Nombre.label }}</label>
                        {{ form.Nombre }}
                    </div>

                    <!--Filtro Línea --> 
                    <div class="col-md-3">
                        <label for="linea">{{ form.LineaId.label }}</label>
                        {{ form.LineaId }}
                    </div>

                    <!--Filtro cargo -->
                    <div class="col-md-3">
                        <label for="cargo">{{ form.Cargo.label }}</label>
                        {{ form.Cargo }}
                    </div>
                </div>

                    <!-- Botones debajo de filtros -->
                    <!-- Botón Buscar -->
                <div class = "row">
                    <div class="col-md-6 text-start">
                        <button type="submit" name="buscar" class="btn btn-primary">
                            <i class="fas fa-glasses"></i>Buscar 
                        </button>                            
                        <button type="button" id="btn-reset-filtros" class="btn btn-secondary ms-2">
                            <i class="fas fa-redo"></i> Reiniciar
                        </button>
                    </div>
                </div>
            </form>

            <!-- Apartado para cards -->
            {% if busqueda_realizada %}
            <div class="mt-4 mb-3">
                <div class="d-flex flex-row flex-nowrap overflow-auto gap-2">

                    <!-- Total de Estudios -->
                    <div class="card shadow-sm p-3 text-primary text-start h-100" style="min-width: 220px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold mb-0">{{ total_estudios }}</h5>
                            <i class="fas fa-graduation-cap fa-2x"></i>
                        </div>
                        <small class="text-muted mt-2 d-block">Total de Estudios</small>
                    </div>

                    <!-- Por Institución -->
                    <div class="card shadow-sm p-3 text-success text-start h-100" style="min-width: 220px; cursor:pointer;" id="cardInstitucion">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-university fa-2x"></i>
                        </div>
                        <div class="flex-grow-1 mt-2">
                            <small class="text-muted d-block">Por Institución</small>
                            {% for institucion, cantidad in conteo_instituciones.items %}
                                <p class="mb-1">{{ institucion }}: <strong>{{ cantidad }}</strong></p>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Por Línea -->
                    <div class="card shadow-sm p-3 text-info text-start h-100" style="min-width: 220px; cursor:pointer;" id="cardLinea">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-stream fa-2x"></i>
                        </div>
                        <div class="flex-grow-1 mt-2">
                            <small class="text-muted d-block">Por Línea</small>
                            {% for linea, cantidad in conteo_lineas.items %}
                                <p class="mb-1">{{ linea }}: <strong>{{ cantidad }}</strong></p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}

             <!-- Botón de Descargar Excel -->
             <div class="row">
                <div class="col-md-6 text-end offset-md-6">
                    <form id="download-form" method="GET" action="{% url 'exportar_estudio_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="Nombre" value="{{ form.Nombre.value }}">
                        <input type="hidden" name="LineaId" value="{{ form.LineaId.value }}">
                        <input type="hidden" name="Cargo" value="{{ form.Cargo.value }}">
                        <button type="submit" class="btn btn-success mt-3">
                            <i class="fas fa-file-excel"></i> Descargar Excel
                        </button>
                    </form>
                </div>
            </div>
        </div>

            <!-- Tabla con resultados filtrados -->
            {% if show_data %}
            <div class="table-responsive" style="max-height: 80vh; overflow: auto;">
                <table class="table table-bordered table-hover table-primary w-100" id="estudiosTable">

                    <!-- Encabezado de la tabla -->
                    <thead>
                        <!-- Filas dentro del encabezado -->
                        <tr>
                            <!-- Nombre línea --> 
                            <th data-sort="nombre_linea" class="sortable" data-direction="default">
                                Nombre Línea 
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Documento Colaborador -->
                            <th data-sort="documento_colaborador" class="sortable" data-direction="default">
                                Documento Colaborador 
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Nombre Colaborador -->
                            <th data-sort="nombre_colaborador" class="sortable" data-direction="default">
                                Nombre Colaborador 
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Cargo --> 
                            <th data-sort="cargo" class="sortable" data-direction="default">
                                Cargo 
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Perfil -->
                            <th data-sort="perfil" class="sortable" data-direction="default">
                                Perfil 
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Módulo -->
                            <th data-sort="modulo" class="sortable" data-direction="default">
                                Módulo
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Titulo -->
                            <th data-sort="titulo" class="sortable" data-direction="default">
                                Título
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Institución -->
                            <th data-sort="institucion" class="sortable" data-direction="default">
                                Institución
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Fecha Grado -->
                            <th data-sort="fecha_grado" class="sortable" data-direction="default">
                                Fecha Grado
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Fecha Inicio -->
                            <th data-sort="fecha_inicio" class="sortable" data-direction="default">
                                Fecha inicio
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>

                            <!-- Fecha Fin -->
                            <th data-sort="fecha_fin" class="sortable" data-direction="default">
                                Fecha Fin
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    
                    <!-- Lectura de campos para mostrar -->
                    <tbody>
                        {% for empleado in empleado_estudio_info %}
                            {% for estudio in empleado.estudios %}
                                <tr>
                                    <td class="text-start">{{ empleado.nombre_linea }}</td>
                                    <td class="text-end">{{ empleado.documento_colaborador }}</td>
                                    <td class="text-start">{{ empleado.nombre_colaborador }}</td>
                                    <td class="text-start">{{ empleado.cargo }}</td>
                                    <td class="text-start">{{ empleado.perfil }}</td>
                                    <td class="text-start">{{ empleado.modulo }}</td>
                                    <td class="text-start">{{ estudio.titulo }}</td>
                                    <td class="text-start">{{ estudio.institucion }}</td>
                                    <td class="text-end">{{ estudio.fecha_grado|date:'d/m/Y' }}</td>
                                    <td class="text-end">{{ estudio.fecha_inicio|date:'d/m/Y' }}</td>
                                    <td class="text-end">{{ estudio.fecha_fin|date:'d/m/Y' }}</td>
                                </tr>
                            {% endfor %}
                        {% empty %}
                            <tr>
                                <td colspan="11">No hay datos disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    {% if not busqueda_realizada %}
                        No se ha realizado ninguna búsqueda aún.
                    {% else %}
                        No se encontraron resultados para los filtros aplicados.
                    {% endif %}
                </div>
            {% endif %}
    </div>
</div>

<!-- Modal Gráfico por Línea -->
<div class="modal fade" id="graficoLineaModal" tabindex="-1" aria-labelledby="graficoLineaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="graficoLineaLabel">Estudios por Línea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <canvas id="graficoLineaCanvas" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Gráfico por Institución -->
<div class="modal fade" id="graficoInstitucionModal" tabindex="-1" aria-labelledby="graficoInstitucionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="graficoInstitucionLabel">Estudios por Institución</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <canvas id="graficoInstitucionCanvas" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Carga dinámica de datos para los gráficos en JS -->
  {% block extra_js %}
    {{ lineas_labels|json_script:"labels-linea" }}
    {{ lineas_data|json_script:"values-linea" }}

    {{ instituciones_labels|json_script:"labels-institucion" }}
    {{ instituciones_data|json_script:"values-institucion" }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src=\"{% static 'JS/InformesEstudios.js' %}\"></script>
    {% endblock %}

{% endblock %}
