{% extends 'Base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %} Inf Fact Consultores Detalle {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Inf Fact Consultores Detalle</h4>
    </div>
    <div class="card-body">
        <div class="container-fluid mb-3">
            <!-- Formulario principal -->
            <form method="GET">
                <div class="row mb-3">
                    <!-- Filtro Año --> 
                    <div class="col-md-3">
                        <label for="{{ form.Anio.id_for_label }}" class="form-label">{{ form.Anio.label }}</label>
                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownAnio" data-bs-toggle="dropdown" aria-expanded="false" data-selected-text="Seleccionar Año">
                                Seleccionar Año
                            </button>
                            <ul class="dropdown-menu w-100">
                                {% for value, label in form.Anio.field.choices %}
                                    <li><a class="dropdown-item anio-option" data-value="{{ value }}">{{ label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input type="hidden" name="{{ form.Anio.html_name }}" id="selectedAnio">
                    </div>

                    <!-- Filtro Línea -->
                    <div class="col-md-3">
                        <label for="linea" class="form-label">{{ form.LineaId.label }}</label>
                        <div class="dropdown">
                            <button
                                class="btn btn-outline-primary dropdown-toggle w-100"
                                type="button"
                                id="dropdownLinea"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-selected-text="Seleccione Líneas"
                            >
                                Seleccione Líneas
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownLinea">
                                {% for checkbox in form.LineaId %}
                                    <li class="dropdown-item p-0">
                                       <label style="cursor: pointer; display: block; width: 100%; padding: 0.5rem 1rem; margin: 0;">
                                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                                      </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Filtro Mes -->
                    <div class="col-md-3">
                        <label for="mes" class="form-label">{{ form.Mes.label }}</label>
                        <div class="dropdown">
                            <button
                                class="btn btn-outline-primary dropdown-toggle w-100"
                                type="button"
                                id="dropdownMes"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-selected-text="Seleccione Mes"
                            >
                                Seleccione Mes
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMes">
                                {% for checkbox in form.Mes %}
                                    <li class="dropdown-item p-0">
                                        <label style="cursor: pointer; display: block; width: 100%; padding: 0.5rem 1rem; margin: 0;">
                                          {{ checkbox.tag }} {{ checkbox.choice_label }}
                                       </label>                                    
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Filtro Consultor -->
                    <div class="col-md-3">
                        <label for="linea" class="form-label">{{ form.Consultor.label }}</label>
                        <div class="dropdown">
                            <button
                                class="btn btn-outline-primary dropdown-toggle w-100"
                                type="button"
                                id="dropdownConsultor"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-selected-text="Seleccione Consultor"
                            >
                                Seleccione Consultor
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownConsultor">
                                {% for checkbox in form.Consultor %}
                                    <li class="dropdown-item p-0">
                                       <label style="cursor: pointer; display: block; width: 100%; padding: 0.5rem 1rem; margin: 0;">
                                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                                      </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Botón Buscar -->
                    <div class="col-md-3 text-start">
                        <button type="submit" name="buscar" class="btn btn-primary mt-3">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>   
            </form>
        </div>
<!-- Botón de Descargar Excel -->
<div class="row">
    <div class="col-md-6 text-start">
        <form method="GET" action="{% url 'descargar_reporte_excel_totales_por_mes' %}">
            <input type="hidden" name="Anio" value="{{ form.Anio.value }}">

            {% for linea in form.LineaId.value %}
                <input type="hidden" name="LineaId" value="{{ linea }}">
            {% endfor %}

            {% for mes in form.Mes.value %}
                <input type="hidden" name="Mes" value="{{ mes }}">
            {% endfor %}

            <button type="submit" class="btn btn-success mt-3">
                <i class="fas fa-file-excel"></i> Descargar Excel
            </button>
        </form>
    </div>
</div>        

        <!-- Tabla de resultados -->
<!-- Tabla de resultados -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2">Línea</th>
                <th rowspan="2">Consultor</th>
                <th rowspan="2">Empresa</th> <!-- NUEVA COLUMNA -->
                <th rowspan="2">Cliente</th>
                {% for mes_num, mes_nombre in meses %}
                    <th colspan="4" class="text-center">{{ mes_nombre }}</th>
                {% endfor %}
                <th colspan="4" class="text-center">Total</th>
            </tr>
            <tr>
                {% for mes_num, mes_nombre in meses %}
                    <th>Factura</th>
                    <th>Cobro</th>
                    <th>Diferencia</th>
                    <th>% Dif</th>
                {% endfor %}
                <th>Factura</th>
                <th>Cobro</th>
                <th>Diferencia</th>
                <th>% Dif</th>
            </tr>
        </thead>
        <tbody>
            {% for linea, consultores in datos.items %}
                {% with total_filas=0 %}
                    {% for consultor_tuple, clientes in consultores.items %}
                        {% with total_filas=total_filas|add:clientes.items|length %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}

                {% with linea_imprimida=False %}
                    {% for consultor_tuple, clientes in consultores.items %}
                        {% with consultor=consultor_tuple.0 empresa=consultor_tuple.1 %}
                        {% with consultor_filas=clientes.items|length %}
                            {% for cliente, meses_data in clientes.items %}
                                <tr>
                                    {% if not linea_imprimida %}
                                        <td rowspan="{{ total_filas }}">{{ linea }}</td>
                                        {% with linea_imprimida=True %}{% endwith %}
                                    {% endif %}

                                    {% if forloop.first %}
                                        <td rowspan="{{ consultor_filas }}">{{ consultor }}</td>
                                        <td rowspan="{{ consultor_filas }}">{{ empresa }}</td> <!-- NUEVA COLUMNA -->
                                    {% endif %}

                                    <td>{{ cliente }}</td>

                                    {% for mes_num, mes_nombre in meses %}
                                        {% with valores=meses_data|get_item_safe:mes_num %}
                                            <td>{{ valores.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                                            <td>{{ valores.total_cobro|floatformat:2|default:"0.00"|currency_format  }}</td>
                                            <td>{{ valores.total_diferencia|floatformat:2|default:"0.00" }}</td>
                                            <td>{{ valores.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                                        {% endwith %}
                                    {% endfor %}

                                    {% with total=totales_por_cliente|get_item_safe:cliente %}
                                        <td>{{ total.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                                        <td>{{ total.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                                        <td>{{ total.total_diferencia|floatformat:2|default:"0.00" }}</td>
                                        <td>{{ total.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endwith %}
                        {% endwith %}
                        <!-- Totales por consultor -->
                        <tr class="table-info">
                            <td colspan="3" class="text-end fw-bold">Total {{ consultor }}</td> <!-- colspan=3 por Línea, Consultor, Empresa -->
                            <td></td>
                            {% for mes_num, mes_nombre in meses %}
                                {% with total_mes=totales_por_linea_consultor_mes|get_item_safe:linea|get_item_safe:consultor_tuple|get_item_safe:mes_num %}
                                    <td>{{ total_mes.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                                    <td>{{ total_mes.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                                    <td>{{ total_mes.total_diferencia|floatformat:2|default:"0.00" }}</td>
                                    <td>{{ total_mes.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                                {% endwith %}
                            {% endfor %}
                            {% with total=totales_por_linea_consultor|get_item_safe:linea|get_item_safe:consultor_tuple %}
                                <td>{{ total.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                                <td>{{ total.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                                <td>{{ total.total_diferencia|floatformat:2|default:"0.00" }}</td>
                                <td>{{ total.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                {% endwith %}

                <!-- Totales por línea -->
                <tr class="table-warning">
                    <td colspan="3" class="text-end fw-bold">Total {{ linea }}</td> <!-- colspan=3 por Línea, Consultor, Empresa -->
                    <td></td>
                    {% for mes_num, mes_nombre in meses %}
                        {% with total_mes=totales_por_linea_mes|get_item_safe:linea|get_item_safe:mes_num %}
                            <td>{{ total_mes.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                            <td>{{ total_mes.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                            <td>{{ total_mes.total_diferencia|floatformat:2|default:"0.00" }}</td>
                            <td>{{ total_mes.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                        {% endwith %}
                    {% endfor %}
                    {% with total=totales_por_linea|get_item_safe:linea %}
                        <td>{{ total.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                        <td>{{ total.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                        <td>{{ total.total_diferencia|floatformat:2|default:"0.00" }}</td>
                        <td>{{ total.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                    {% endwith %}
                </tr>
            {% endfor %}

            <!-- Totales globales -->
            <tr class="table-secondary fw-bold">
                <td colspan="4">Total General</td> <!-- Línea, Consultor, Empresa, Cliente -->
                {% for mes_num, mes_nombre in meses %}
                    {% with total_mes=totales_por_mes|get_item_safe:mes_num %}
                        <td>{{ total_mes.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                        <td>{{ total_mes.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                        <td>{{ total_mes.total_diferencia|floatformat:2|default:"0.00" }}</td>
                        <td>{{ total_mes.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
                    {% endwith %}
                {% endfor %}
                <td>{{ total_global.total_factura|floatformat:2|default:"0.00"|currency_format }}</td>
                <td>{{ total_global.total_cobro|floatformat:2|default:"0.00"|currency_format }}</td>
                <td>{{ total_global.total_diferencia|floatformat:2|default:"0.00" }}</td>
                <td>{{ total_global.porcentaje_diferencia|floatformat:2|default:"0.00" }}%</td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
</div>

<script src="{% static 'JS/InformeServConsultor.js' %}"></script>

{% endblock %}
