{% extends 'base.html' %}
{% load static %}

{% block titulo %} Informe de Facturación {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Informe de Facturación</h4>
    </div>
    <div class="card-body">
        <div class="container-fluid mb-3">
            <!-- Formulario principal -->
            <form method="GET">
                <div class="row mb-3">
                    <!-- Filtro Año --> 
                    <div class="col-md-3">
                        <label for="Anio">{{ form.Anio.label }}</label>
                        {{ form.Anio }}
                    </div>

                    <!-- Filtro Línea -->
                    <div class="col-md-3">
                        <label for="Linea">Línea</label>
                        {{ form.LineaId }}
                    </div>

                    <!-- Filtro Cliente -->
                    <div class="col-md-3">
                        <label for="Cliente">Cliente</label>
                        {{ form.ClienteId }}
                    </div>

                    <!-- Botón Buscar -->
                    <div class="col-md-3 text-start">
                        <button type="submit" name="buscar" class="btn btn-primary mt-3">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>   
            </form>

            <!-- Botón de Descargar Excel -->
            <div class="row">
                <div class="col-md-6 text-start">
                    <form id="download-form" method="GET" action="{% url 'exportar_estudio_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="Nombre" value="{{ form.Año.value }}">
                        <input type="hidden" name="LineaId" value="{{ form.LineaId.value }}">
                        <input type="hidden" name="Cargo" value="{{ form.Cargo.value }}">
                        <button type="submit" class="btn btn-success mt-3">
                            <i class="fas fa-file-excel"></i> Descargar Excel
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% if show_data %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-primary" id="estudiosTable">
                <!-- Encabezado de la tabla -->
                <thead>
                    <tr>
                        <th colspan="10">Total por Línea</th>
                    </tr>
                    <tr>
                        <th>Meses</th>
                        {% for linea in lineas_info %}
                            <th>{{ linea }}</th>
                        {% endfor %}
                        <th>Total General</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mes, total in Meses_info %}
                    <tr>
                        <td>{{ mes }}</td>
                        {% for linea in lineas_info %}
                        <td>--</td>
                        {% endfor %}
                        <td>{{ total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
          

                
            </table>

        </div>
        {% elif not factura_info %}
        <div class="alert alert-warning" role="alert">
            {{ mensaje }}
        </div>
        {% endif %}
    </div>
</div>

<script src="{% static 'JS/informes_facturacion.js' %}"></script>
{% endblock %}
