{% extends 'Base.html' %}
{% load static %}
{% load custom_filters %}
<!-- Titulo de la pestaña en navegador -->
{% block titulo %} Informe Clientes Contratos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
         <!-- Titulo del informe -->
        <h4 class="card-title">Informe Clientes Contratos</h4>
    </div>

    <div class="card-body informes-table">
        <div class="container-fluid mb-3">

            <!-- Formulario principal -->
            <form method="GET">
                <!-- Filtros en la parte superior: Cliente, Fecha Inicio, Contrato Vigente -->
                <div class="row mb-3">

                    <!--Filtro Cliente --> 
                    <div class="col-md-3">
                        <label for="cliente">{{ form.Nombre_Cliente.label }}</label>
                        {{ form.Nombre_Cliente }}
                    </div>

                    <!-- Filtro Fecha Inicio -->
                    <div class="col-md-3">
                        <label for="fecha_inicio">{{ form.FechaInicio.label }}</label>
                        {{ form.FechaInicio }}
                    </div>

                    <!-- Filtro Contrato Vigente -->
                    <div class="col-md-3">
                        <label for="contrato_vigente">{{ form.ContratoVigente.label }}</label>
                        {{ form.ContratoVigente }}
                    </div>
                </div> 

                    <!-- Botones debajo de filtros: Buscar y Descarga Excel -->

                    <!-- Botón Buscar -->
                    <div class = "row mt-4">
                        <div class="col-md-6 text-start">
                            <button type="submit" name="buscar" class="btn btn-primary">
                                <i class="fas fa-glasses"></i>Buscar <!-- Texto e icono de botón -->
                            </button>
                            <button type="button" id="btn-reset-filtros" class="btn btn-secondary ms-2">
                                <i class="fas fa-redo"></i> Reiniciar
                            </button>
                        </div>
                    </div>

                    <!-- Botón Otros Sí -->
                    <div class="row">
                        <div class="col-md-6 text-start mt-2">
                            <button id="otrosSi-button" type="button" class="btn btn-success">
                                <i class="fas fa-file-contract"></i> Otros Sí
                            </button>
                        </div>
                    </div>
            </form>

            <!-- Apartado para cards -->
            {% if show_data %}
            <div class="mb-3">
                <div class="d-flex flex-row flex-nowrap overflow-auto gap-2">
            
                    <!-- Total Contratos -->
                    <div class="card shadow-sm border border-1" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="text-info fw-bold mb-0">{{ total_contratos }}</h5>
                            <small class="text-muted">Total Contratos</small>
                        </div>
                        <i class="fas fa-file-alt fa-2x text-info"></i>
                        </div>
                    </div>
                    
                    <!-- Valor Total Contratos -->
                    <div class="card shadow-sm border border-1" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="text-info fw-bold mb-0">${{ valor_total_contratos|floatformat:2 }}</h5>
                            <small class="text-muted">Valor Total Contratos</small>
                        </div>
                        <i class="fas fa-hand-holding-usd fa-2x text-info"></i>
                        </div>
                    </div>
            
                    <!-- Por Vencer -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-warning fw-bold mb-0">{{ contratos_por_vencer }}</h5>
                                <small class="text-muted">Por vencer (30 días)</small>
                            </div>
                            <i class="fas fa-exclamation-triangle fa-2x text-warning"></i>
                        </div>
                    </div>
            
                    <!-- No Vigentes -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-danger fw-bold mb-0">{{ contratos_no_vigentes }}</h5>
                                <small class="text-muted">No Vigentes</small>
                            </div>
                            <i class="fas fa-ban fa-2x text-danger"></i>
                        </div>
                    </div>
            
                    <!-- Con Pólizas -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-success fw-bold mb-0">{{ contratos_con_polizas }}</h5>
                                <small class="text-muted">Con Pólizas</small>
                            </div>
                            <i class="fas fa-shield-alt fa-2x text-success"></i>
                        </div>
                    </div>
            
                </div>
            </div>
            {% endif %}

             <!-- Botón de Descargar Excel-->
             <div class="row">
                <div class="col-md-6 text-end offset-md-6">
                    <form id="download-form" method="GET" action="{% url 'exportar_clientes_contratos_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="Nombre_Cliente" value="{{ form.Nombre_Cliente.value }}">
                        <input type="hidden" name="FechaInicio" value="{{ form.FechaInicio.value }}">
                        <input type="hidden" name="ContratoVigente" value="{{ form.ContratoVigente.value }}">
                        
                        <button type="submit" class="btn btn-success mt-3">
                            <i class="fas fa-file-excel"></i> Descargar Excel<!-- Texto e icono de botón -->
                        </button>
                    </form>
                </div>
            </div>
             
        </div>
        
        <!-- Tabla con resultados filtrados -->
            {% if show_data %}
            <div class="table-responsive" style="max-height: 80vh; overflow: auto;">
                <table class="table table-bordered table-hover table-primary w-100" id="clientesContratosTable">

                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th data-sort="documento" class="sortable" data-direction="default">
                                Documento Cliente
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="nombre" class="sortable" data-direction="default">
                                Nombre
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="contrato" class="sortable" data-direction="default">
                                Contrato
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="descripcion" class="sortable" data-direction="default">
                                Descripción Contrato
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_inicio" class="sortable" data-direction="default">
                                Fecha Inicio
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_fin" class="sortable" data-direction="default">
                                Fecha Fin
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="por_vencer" class="sortable" data-direction="default">
                                Por Vencer
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="contrato_vigente" class="sortable" data-direction="default">
                                Contrato Vigente
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="valor" class="sortable" data-direction="default">
                                Contrato Valor
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="moneda" class="sortable" data-direction="default">
                                Moneda
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="iva" class="sortable" data-direction="default">
                                Incluye Iva Valor
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="otros" class="sortable" data-direction="default">
                                # Otros Sí
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="polizas" class="sortable" data-direction="default">
                                Polizas
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="descripcion_polizas" class="sortable" data-direction="default">
                                Descripción Polizas
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="facturar" class="sortable" data-direction="default">
                                OC Facturar
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="parafiscales" class="sortable" data-direction="default">
                                Parafiscales
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="horario" class="sortable" data-direction="default">
                                Horario Servicio
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="fecha_facturacion" class="sortable" data-direction="default">
                                Fecha Facturación
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="tipo_facturacion" class="sortable" data-direction="default">
                                Tipo Facturación
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="servcio" class="sortable" data-direction="default">
                                Servicio Remoto
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="observaciones" class="sortable" data-direction="default">
                                Observaciones
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <!-- Lectura de campos para mostrar -->
                    <tbody>
                        {% for cliente_contratos in cliente_contratos_info %}
                            {% for contrato in cliente_contratos.contratos %}
                                <tr>
                                    <td><input type="checkbox" class="row-select" value="{{ contrato.ClienteId.id }}"></td>
                                    <td data-field="documento" class="text-end">{{ contrato.documento }}</td>
                                    <td data-field="nombre" class="text-start">{{ contrato.Nombre_Cliente }}</td>
                                    <td data-field="contrato" class="text-end">{{ contrato.Contrato }}</td>
                                    <td data-field="descripcion" class="text-start">{{ contrato.ContratoDesc|default_if_none:"" }}</td>
                                    <td data-field="fecha_inicio" data-fecha="{{ contrato.FechaInicio|date:'Y-m-d' }}">{{ contrato.FechaInicio|date:'d/m/Y' }}</td>
                                    <td data-field="fecha_fin">{{ contrato.FechaFin|date:'d/m/Y'|default_if_none:"" }}</td>
                                    <td class="text-center align-middle">
                                        {% if contrato.por_vencer %}
                                            <span class="text-warning" title="Por vencer" style="font-size: 1.2rem;">⚠️</span>
                                        {% endif %}
                                    </td>
                                    <td data-field="contrato_vigente" class="text-start">{{ contrato.ContratoVigente|yesno:"SI,NO" }}</td>
                                    <td data-field="valor" class="text-end">{{ contrato.ContratoValor|currency_format }}</td>
                                    <td data-field="moneda" class="text-start">{{ contrato.monedaId.Nombre }}</td>
                                    <td data-field="iva" class="text-start">{{ contrato.IncluyeIvaValor|yesno:"SI,NO" }}</td>
                                    <td data-field="otros" class="text-end">{{ contrato.otros_si_count }}</td>
                                    <td data-field="polizas" class="text-start">{{ contrato.Polizas|yesno:"SI,NO" }}</td>
                                    <td data-field="descripcion_polizas" class="text-start">{{ contrato.PolizasDesc|default_if_none:"" }}</td>
                                    <td data-field="facturar">{{ contrato.OC_Facturar|yesno:"SI,NO" }}</td>
                                    <td data-field="parafiscales">{{ contrato.Parafiscales|yesno:"SI,NO" }}</td>
                                    <td data-field="horas" class="text-start">{{ contrato.HorarioServicio }}</td>
                                    <td data-field="fecha_facturacion" class="text-start">{{ contrato.FechaFacturacion }}</td>
                                    <td data-field="tipo_facturacion" class="text-start">{{ contrato.TipoFacturacion }}</td>
                                    <td data-field="servcio">{{ contrato.ServicioRemoto|yesno:"SI,NO" }}</td>
                                    <td data-field="observaciones" class="text-start">{{ contrato.Observaciones|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        {% empty %}
                            <tr>
                                <td colspan="21">No hay datos disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    {% if not busqueda_realizada %}
                        No se ha realizado ninguna búsqueda aún.
                    {% else %}
                        No se encontraron resultados para los filtros aplicados.
                    {% endif %}
                </div>
            {% endif %}
    </div>
</div>
<script src="{% static 'JS/InformesClientesContratos.js' %}"></script>
{% endblock %}