
{% extends 'base.html' %}
{% load static %}

<!-- Titulo de la pestaña en navegador -->
{% block titulo %} Informe Clientes Contratos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
         <!-- Titulo del informe -->
        <h4 class="card-title">Informe Clientes Contratos</h4>
    </div>

    <div class="card-body informes-table">
        <div class="container-fluid mb-3">

            <!-- Formulario principal -->
            <form method="GET">
                <!-- Filtros en la parte superior: Cliente, Fecha Inicio, Contrato Vigente -->
                <div class="row mb-3">

                    <!--Filtro Cliente --> 
                    <div class="col-md-3">
                        <label for="cliente">{{ form.Nombre_Cliente.label }}</label>
                        {{ form.Nombre_Cliente }}
                    </div>

                    <!-- Filtro Fecha Inicio -->
                    <div class="col-md-3">
                        <label for="fecha_inicio">{{ form.FechaInicio.label }}</label>
                        {{ form.FechaInicio }}
                    </div>

                    <!-- Filtro Contrato Vigente -->
                    <div class="col-md-3">
                        <label for="contrato_vigente">{{ form.ContratoVigente.label }}</label>
                        {{ form.ContratoVigente }}
                    </div>

                    <!-- Botones debajo de filtros: Buscar y Descarga Excel -->

                    <!-- Botón Buscar -->
                    <div class = "row">
                        <div class="col-md-6 text-start">
                            <button type="submit" name="buscar" class="btn btn-primary mt-3">
                                <i class="fas fa-glasses"></i>Buscar <!-- Texto e icono de botón -->
                            </button>
                        </div>
                    </div>

                    <!-- Botón Otros Sí -->
                    <div class="row">
                        <div class="col-md-6 text-start mt-2">
                            <button id="otrosSi-button" type="button" class="btn btn-success">
                                <i class="fas fa-file-contract"></i> Otros Sí
                            </button>
                        </div>
                    </div>

                </div>   
            </form>
            
            {% if show_data %}
            <div class="mb-3">
                <div class="d-flex flex-row flex-nowrap overflow-auto gap-2">
            
                    <!-- Total Contratos -->
                    <div class="card shadow-sm border border-1" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="text-info fw-bold mb-0">{{ total_contratos }}</h5>
                            <small class="text-muted">Total Contratos</small>
                        </div>
                        <i class="fas fa-file-alt fa-2x text-info"></i>
                        </div>
                    </div>
                    
                    <!-- Valor Total Contratos -->
                    <div class="card shadow-sm border border-1" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="text-info fw-bold mb-0">${{ valor_total_contratos|floatformat:2 }}</h5>
                            <small class="text-muted">Valor Total Contratos</small>
                        </div>
                        <i class="fas fa-hand-holding-usd fa-2x text-info"></i>
                        </div>
                    </div>
            
                    <!-- Por Vencer -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-warning fw-bold mb-0">{{ contratos_por_vencer }}</h5>
                                <small class="text-muted">Por vencer (30 días)</small>
                            </div>
                            <i class="fas fa-exclamation-triangle fa-2x text-warning"></i>
                        </div>
                    </div>
            
                    <!-- No Vigentes -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-danger fw-bold mb-0">{{ contratos_no_vigentes }}</h5>
                                <small class="text-muted">No Vigentes</small>
                            </div>
                            <i class="fas fa-ban fa-2x text-danger"></i>
                        </div>
                    </div>
            
                    <!-- Con Pólizas -->
                    <div class="card shadow-sm p-3" style="min-width: 220px; font-size: 0.85rem;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-success fw-bold mb-0">{{ contratos_con_polizas }}</h5>
                                <small class="text-muted">Con Pólizas</small>
                            </div>
                            <i class="fas fa-shield-alt fa-2x text-success"></i>
                        </div>
                    </div>
            
                </div>
            </div>
            {% endif %}

             <!-- Botón de Descargar Excel-->
             <div class="row">
                <div class="col-md-6 text-end offset-md-6">
                    <form id="download-form" method="GET" action="{% url 'exportar_clientes_contratos_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="Nombre_Cliente" value="{{ form.Nombre_Cliente.value }}">
                        <input type="hidden" name="FechaInicio" value="{{ form.FechaInicio.value }}">
                        <input type="hidden" name="ContratoVigente" value="{{ form.ContratoVigente.value }}">
                        
                        <button type="submit" class="btn btn-success mt-3">
                            <i class="fas fa-file-excel"></i> Descargar Excel<!-- Texto e icono de botón -->
                        </button>
                    </form>
                </div>
            </div>
             
        </div>

            {% if show_data %}
            <div class="table-responsive" style="max-height: 80vh; overflow: auto;">
                <table class="table table-bordered table-hover table-primary w-100" id="clientesContratosTable">

                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th>Documento Cliente</th>
                            <th>Nombre</th>
                            <th>Contrato</th>
                            <th>Descripción Contrato</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Por Vencer</th>
                            <th>Contrato Vigente</th>
                            <th>Contrato Valor</th>
                            <th>Moneda</th>
                            <th>Incluye Iva Valor</th>
                            <th># Otros Sí</th>
                            <th>Polizas</th>
                            <th>Descripción Polizas</th>
                            <th>OC Facturar</th>
                            <th>Parafiscales</th>
                            <th>Horario Servicio</th>
                            <th>Fecha Facturación</th>
                            <th>Tipo Facturación</th>
                            <th>Servicio Remoto</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>

                    <!-- Lectura de campos para mostrar -->
                    <tbody>
                        {% for cliente_contratos in cliente_contratos_info %}
                            {% for contrato in cliente_contratos.contratos %}
                                <tr>
                                    <td><input type="checkbox" class="row-select" value="{{ contrato.ClienteId.id }}"></td>
                                    <td class="text-end">{{ contrato.documento }}</td>
                                    <td class="text-start">{{ contrato.Nombre_Cliente }}</td>
                                    <td class="text-end">{{ contrato.Contrato }}</td>
                                    <td class="text-start">{{ contrato.ContratoDesc|default_if_none:"" }}</td>
                                    <td data-fecha="{{ contrato.FechaInicio|date:'Y-m-d' }}">{{ contrato.FechaInicio|date:'d/m/Y' }}</td>
                                    <td>{{ contrato.FechaFin|date:'d/m/Y'|default_if_none:"" }}</td>
                                    <td class="text-center align-middle">
                                        {% if contrato.por_vencer %}
                                            <span class="text-warning" title="Por vencer" style="font-size: 1.2rem;">⚠️</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ contrato.ContratoVigente|yesno:"SI,NO" }}</td>
                                    <td class="text-end">{{ contrato.ContratoValor|default_if_none:"" }}</td>
                                    <td>{{ contrato.monedaId.Nombre }}</td>
                                    <td>{{ contrato.IncluyeIvaValor|yesno:"SI,NO" }}</td>
                                    <td>{{ contrato.otros_si_count }}</td>
                                    <td>{{ contrato.Polizas|yesno:"SI,NO" }}</td>
                                    <td class="text-start">{{ contrato.PolizasDesc|default_if_none:"" }}</td>
                                    <td>{{ contrato.OC_Facturar|yesno:"SI,NO" }}</td>
                                    <td>{{ contrato.Parafiscales|yesno:"SI,NO" }}</td>
                                    <td class="text-start">{{ contrato.HorarioServicio }}</td>
                                    <td class="text-start">{{ contrato.FechaFacturacion }}</td>
                                    <td class="text-start">{{ contrato.TipoFacturacion }}</td>
                                    <td>{{ contrato.ServicioRemoto|yesno:"SI,NO" }}</td>
                                    <td class="text-start">{{ contrato.Observaciones|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        {% empty %}
                            <tr>
                                <td colspan="21">No hay datos disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    {% if not busqueda_realizada %}
                        No se ha realizado ninguna búsqueda aún.
                    {% else %}
                        No se encontraron resultados para los filtros aplicados.
                    {% endif %}
                </div>
            {% endif %}
    </div>
</div>
<script src="{% static 'JS/informes_clientes_contratos.js' %}"></script>
{% endblock %}