{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Informe de Empleados
{% endblock %}

{% block contenido %}
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Informe de Empleados</h4>
    </div>
    <div class="card-body informes-table">
      <div class="container-fluid mb-3">
        <!-- Formulario principal -->
        <form method="GET">
          <!-- Filtros en la parte superior -->
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="Documento">{{ form.Nombre.label }}</label>
              {{ form.Nombre }}
            </div>
            <div class="col-md-3">
              <label for="Linea">{{ form.LineaId.label }}</label>
              {{ form.LineaId }}
            </div>
            <div class="col-md-3">
              <label for="Cargo">{{ form.Cargo.label }}</label>
              {{ form.Cargo }}
            </div>
            <div class="col-md-3">
              <label for="Certificaciones">{{ form.CertificadoSAP.label }}</label>
              {{ form.CertificadoSAP }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="PerfilId">{{ form.PerfilId.label }}</label>
              {{ form.PerfilId }}
            </div>
            <div class="col-md-3">
              <label for="Activo">{{ form.Activo.label }}</label>
              {{ form.Activo }}
            </div>
          </div>
          <!-- Botones en la parte inferior -->
          <div class="row">
            <div class="col-md-6 text-start">
              <button type="submit" name="buscar" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            </div>
          </div>
        </form>
        <!-- Botón de Descargar Excel -->
        <div class="row">
          <div class="col-md-6 text-end offset-md-6">
            <form id="download-form" method="GET" action="{% url 'exportar_empleados_excel' %}">
              {% csrf_token %}
              <input type="hidden" name="Documento" value="{{ form.Documento.value }}" />
              <input type="hidden" name="LineaId" value="{{ form.LineaId.value }}" />
              <input type="hidden" name="Certificacion" value="{{ form.Certificacion.value }}" />
              <input type="hidden" name="PerfilId" value="{{ form.PerfilId.value }}" />
              <button type="submit" class="btn btn-success"><i class="fas fa-file-excel"></i> Descargar Excel</button>
            </form>
          </div>
        </div>
      </div>

      {% if show_data %}
        <!-- Mostrar tabla de empleados -->
        <div class="table-responsive" style="max-height: 80vh; overflow: auto;">
          <table class="table table-bordered table-hover table-primary w-100"  id="nominaTable">
            <thead>
              <tr>
                <th data-sort="TipoDocumento" class="sortable" data-direction="default">
                  Tipo Documento
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="Documento" class="sortable" data-direction="default">
                  Documento
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="Nombre" class="sortable" data-direction="default">
                  Nombre
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th>Fecha Nacimiento</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Operación</th>
                <th data-sort="Modulo" class="sortable" data-direction="default">
                  Módulo
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="Perfil" class="sortable" data-direction="default">
                  Perfil
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="Linea" class="sortable" data-direction="default">
                  Línea
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th data-sort="Cargo" class="sortable" data-direction="default">
                  Cargo
                  <span class="sort-icon">
                      <i class="fas fa-sort sort-icon-default"></i>
                      <i class="fas fa-sort-up sort-icon-asc"></i>
                      <i class="fas fa-sort-down sort-icon-desc"></i>
                  </span>
                </th>
                <th>Título Profesional</th>
                <th>Fecha Grado</th>
                <th>Universidad</th>
                <th>Profesión Realizada</th>
                <th>Academia SAP</th>
                <th>Certificado SAP</th>
                <th>Otras Certificaciones</th>
                <th>Postgrados</th>
                <th>Activo</th>
                <th>Fecha Retiro</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Departamento</th>
                <th>Dirección Alterna</th>
                <th>Teléfono 1</th>
                <th>Teléfono 2</th>
              </tr>
            </thead>
            <tbody>
              {% for empleado in empleados_info %}
                <tr>
                  <td>{{ empleado.TipoDocumento }}</td>
                  <td>{{ empleado.Documento }}</td>
                  <td>{{ empleado.Nombre }}</td>
                  <td>{{ empleado.FechaNacimiento }}</td>
                  <td>{{ empleado.FechaIngreso }}</td>
                  <td>{{ empleado.FechaOperacion }}</td>
                  <td>{{ empleado.Modulo }}</td>
                  <td>{{ empleado.Perfil }}</td>
                  <td>{{ empleado.Linea }}</td>
                  <td>{{ empleado.CargoId }}</td>
                  <td>{{ empleado.TituloProfesional }}</td>
                  <td>{{ empleado.FechaGrado }}</td>
                  <td>{{ empleado.Universidad }}</td>
                  <td>{{ empleado.ProfesionRealizada }}</td>
                  <td>{{ empleado.AcademiaSAP }}</td>
                  <td>{{ empleado.CertificadoSAP }}</td>
                  <td>{{ empleado.OtrasCertificaciones }}</td>
                  <td>{{ empleado.Postgrados }}</td>                  
                  <td>{{ empleado.Activo }}</td>
                  <td>{{ empleado.FechaRetiro }}</td>
                  <td>{{ empleado.Direccion }}</td>
                  <td>{{ empleado.Ciudad }}</td>
                  <td>{{ empleado.Departamento }}</td>
                  <td>{{ empleado.DireccionAlterna }}</td>
                  <td>{{ empleado.Telefono1 }}</td>
                  <td>{{ empleado.Telefono2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div class="alert alert-warning">{{ mensaje }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
