{% extends "base.html" %}
{% load static %}
{% block titulo %} Lista de Total Gastos {% endblock %}

{% block contenido %}
<div class="card">
    <div id="message-box" class="alert alert-dismissible fade" role="alert" style="display: none;">
        <span id="alert-icon" class="alert-heading"></span>
        <span id="alert-message"></span>
    </div>

    {% if messages %}
    <div style="position: absolute; margin-top: 30vh; margin-left: 20.7vw; z-index: 1050;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h4 class="card-title">Total Gastos</h4>
    </div>

    <div class="card-body">
        <!-- CRUD Icons -->
        <div class="button-group" >
            <a name="" id="" class="btn btn-outline-primary fas fa-plus-circle" title="Crear" href="{% url 'total_gastos_crear' %}" role="button" ></a> 
            <button id="edit-button" 
                class="btn btn-outline-primary fas fa-edit" 
                title="Editar" 
                type="button"
                onclick="enableEditDetails();">
            </button>
            <button type="submit" form="delete-form" class="btn btn-outline-danger fas fa-trash-alt" title="Eliminar" onclick="eliminarSeleccionados(event);"></button> 
            <form id="download-form" method="POST" action="{% url 'total_gastos_descargar_excel' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="items_to_download" id="items_to_download">
                <button type="submit" class="btn btn-outline-info fas fa-download" title="Descargar" ></button>
            </form>
            <!-- Botón de Visualizar -->
            <button id="visualizar-button" 
                class="btn btn-outline-secondary fas fa-eye" 
                title="Visualizar" 
                type="button"
                onclick="visualizarDetalles();">
            </button>
            <!-- Botones de Guardar y Cancelar -->
            <button id="save-button" 
                class="btn btn-outline-success fas fa-save d-none" 
                title="Guardar" 
                type="button" 
                onclick="saveDetails();">
            </button>
            <button id="cancel-button" 
                class="btn btn-outline-danger fas fa-times d-none" 
                title="Cancelar" 
                type="button"
                onclick="cancelEditDetails();">
            </button>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="table-responsive">
            <form id="delete-form" method="POST" action="{% url 'total_gastos_eliminar' %}">
                {% csrf_token %}
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th data-sort="Anio" class="sortable" data-direction="default">
                                Año
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="Mes" class="sortable" data-direction="default">
                                Mes
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                            <th data-sort="Valor" class="sortable" data-direction="default">
                                Total
                                <span class="sort-icon">
                                    <i class="fas fa-sort sort-icon-default"></i>
                                    <i class="fas fa-sort-up sort-icon-asc"></i>
                                    <i class="fas fa-sort-down sort-icon-desc"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tabla-detalles-tbody">
                        {% for detalle in total_gastos_data %}
                        <tr id="row-{{ detalle.id }}" data-id="{{ detalle.id }}">
                            <td style="display: none;">
                                <input type="hidden" name="id" value="{{ detalle.id }}">
                            </td>
                            <td>
                                <input type="checkbox" class="detail-select" name="items_to_delete" value="{{ detalle.id }}">
                            </td>
                            <td data-field="Anio" class="text-start">
                                <span class="form-control-plaintext">{{ detalle.Anio }}</span>
                                <input type="text" name="Anio" value="{{ detalle.Anio }}" class="form-control d-none" readonly>
                            </td>
                            <td data-field="Mes" class="text-start">
                                <span class="form-control-plaintext">{{ detalle.Mes }}</span>
                                <input type="text" name="Mes" value="{{ detalle.Mes }}" class="form-control d-none" readonly>
                            </td>
                            <td data-field="Valor" id="total-{{ detalle.Anio }}-{{ detalle.Mes }}" class="text-end">
                                <span class="form-control-plaintext">{{ detalle.Total }}</span>
                                <input type="text" name="Valor" value="{{ detalle.Total }}" class="form-control d-none" readonly>
                            </td>
                            <td>
                                <a href="{% url 'crear_detalle_gastos' detalle.id %}" class="btn btn-success btn-sm" title="Agregar Detalle">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- Tabla de Detalles de gastos (editable) -->
<div class="card mt-4 d-none" id="tabla-detalles-container">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Detalles de Gastos</h5>
        <button id="guardar-detalles" class="btn btn-success d-none" onclick="saveDetails()">Guardar Cambios</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="tabla-detalles">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-detalles"></th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Gastos</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="tabla-detalles-tbody">
                    {% for detalle in detalles_gastos %}
                    <tr data-id="{{ detalle.id }}">
                        <td><input type="checkbox" class="detail-select" value="{{ detalle.id }}"></td>
                        <td><input type="text" name="Anio" value="{{ detalle.Anio }}"></td>
                        <td><input type="text" name="Mes" value="{{ detalle.Mes }}"></td>
                        <td><select type="text" name="CostosId" value="{{ detalle.GastosId_id }}"></td>
                        <td><input type="text" name="Valor" value="{{ detalle.Valor }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="{% static 'JS/totalGastos.js' %}"></script>
{% endblock %}
