{% extends "Base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3"
            >
                <h2>Bienvenidos al Sistema Integrado de Gestión</h2>
                <p>
                    Empezar a ingresar al Sistema Integrado de Gestión
                </p>
                <button
                    class="btn-secondary btn-outline-secundary"
                    type="button"
                >
                    Empezar
                </button>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
    

{% endblock %}