{% extends "base.html" %}

{% block titulo %} Confirmar Eliminación {% endblock %}

{% block contenido %}
    <h2>¿Estás seguro de que deseas eliminar el registro de Detalle_Gastos del año "{{ detalle_gastos.Año }}" y mes "{{ detalle_gastos.Mes }}" con ID de gasto "{{ detalle_gastos.GastosId }}"?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'detalle_gastos_index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}